{% extends 'base.html.twig' %}

{% block title %}ComparteCoche::Perfil{% endblock %}

{% block body %}

<section class="hero">
    <div class="hero-body">
        <h1 class="title">
            Página de Perfil
        </h1>
        <p class="subtitle">
            Actualiza tus datos 
        </p>
        <div class="hero-avatar">
            <section class="avatars">
                <div class="avatar">
                    <img  src="/images/avatars/{{ driver.avatar }}" alt="{{ driver.email }}">
                </div>
            </section>
        </div>
    </div>
</section>

<div class="container is-fluid">
    {{ form_start(form) }}
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            {{ form_widget(form.email, {'attr': {'class': 'input needs-validation driver_form_email is-danger'} }) }}
            <span class="icon is-small is-left">
                <i id="emailCheckIconLeft" class="fas fa-envelope"></i>
            </span>
            <span id="emailCheckIconRight" class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>
        <p class="help is-danger" id="emailActionHint">This email is invalid</p>
    </div>
    <div class="field">
        <label class="label">Nombre de Usuario</label>
        <div class="control has-icons-left">
            {{ form_widget(form.username, {'attr': {'class': 'input is-success'} }) }}
            <span class="icon is-small is-left">
                <i id="usernameCheckIconLeft" class="fas fa-user"></i>
            </span>            
        </div>        
    </div>
    <div class="field">
        <label class="label">Cambiar imagen de Perfil(*)</label>
        <div class="control has-icons-left">
            {{ form_widget(form.avatar, {'attr': {'class': 'input needs-validation contact_form_email is-success'} }) }}
            <span class="icon is-small is-left">
                <i id="emailCheckIconLeft" class="fas fa-image"></i>
            </span>            
        </div>
        <p class="help is-info" id="emailActionHint">* Max. 1024kb</p>
    </div>
    <!--Submit button-->
    <div class="field is-grouped">
        <div class="control">
            {{ form_widget(form.submit, {'attr': {'class': 'button is-link'} }) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
              
{% endblock %}
