{% extends 'base.html.twig' %}
{% block title %}ComparteCoche::Perfil{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icons -->
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- avatars -->
    <link href="/css/avatars.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="container px-4 mt-5 mb-5">
        <div class="row gx-5">
            {% if app.user %}            
                <div class="container overflow-hidden">
                    <div class="row gx-5">
                        <div class="col mb-1">
                            <div class="p-3 border bg-warning bg-gradient">{{ app.user.userIdentifier }}</div>
                        </div>
                        <div class="col mb-1">
                            <div class="p-3 border text-white bg-secondary bg-gradient">{{ grupo }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row gx-5">
            <div class="container overflow-hidden">
                <div class="card border-success mb-3" style="max-width: 100%;">
                    <div class="card-header bg-transparent border-success">
                        <section class="avatars">
                            <img class="avatar" src="/images/avatars/{{ driver.avatar }}" alt="{{ driver.email }}">
                        </section>                        
                    </div>
                    <div class="card-body text-success">
                        <h5 class="card-title">DATOS DEL USUARIO</h5>
                        <p class="card-text">
                            {#{ dump(form) }#}
                            {{ form_start(form) }}
                                <div class="mb-3">
                                    <label for="driver_form_email" class="form-label">Email</label><br/>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                                </div>                                
                                <div class="mb-3">
                                    <label for="driver_form_avatar" class="form-label">Cambiar imagen de Perfil(*)</label><br/>
                                    {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
                                </div> 
                                <div class="mb-3">
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                                </div>
                            {{ form_end(form) }}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success"></div>
                    </div>
        </div>
        </div>
    </section>            
{% endblock %}
