{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}
<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            {{ grupo }}
        </p>
        <p class="subtitle">
            {{ grupo.description }}
        </p>
        <div class="hero-avatar">
            <section class="avatars">
                <div class="avatar">
                    <img src="/images/avatars/{{ app.user.avatar }}" alt="{{ app.user.userIdentifier }}">
                    <span class="tooltiptext">{{ app.user.userIdentifier }}</span>
                </div>
            </section>
        </div>
    </div>
</section>
<div class="container is-fluid mt-4">
    <div class="tile is-ancestor">
        <div class="tile">
        <div class="tile is-8 is-vertical">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-danger">
                    <p class="title">Tus Viajes</p>
                    <p class="subtitle">Existen {{ trayectos|length }} trayectos</p>
                    <div class="content">
                        <table class="table is-success is-striped">
                            <thead>
                                <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Fin</th>
                                <th scope="col">F</th>
                                </tr>
                            </thead>
                            <tbody>
                            {#{ dump(trayectos) }#}
                            {% for trayecto in trayectos %}
                                <tr>
                                    <th scope="row">                                        
                                        {{ trayecto.fecha.dateTrayecto | format_datetime('short', 'none', locale='fr') }}
                                    </th>
                                    <td>
                                        {{ trayecto.fecha.timeAt | format_time(pattern='HH:mm') }}
                                    </td>
                                    <td>
                                        {{ trayecto.fecha.timeTo | format_time(pattern='HH:mm') }}
                                    </td>
                                    <td>                                        
                                        {% if trayecto.passenger is null %}
                                            <i class="fa fa-question is-danger"></i>
                                        {% elseif trayecto.passenger == false %}
                                            <i class="fa fa-car is-primary"></i>
                                        {% else %}
                                            <i class="fa fa-user is-success"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <nav class="pagination" role="navigation" aria-label="pagination">
                            {% if previous >= 0 %}
                                <a class="pagination-previous" href="{{ path('homepage', { offset:previous }) }}">Previous</a>
                            {% else %}
                                <a class="pagination-previous" disabled href="#">Previous</a>
                            {% endif %}
                            {% if next < trayectos|length %}
                                <a class="pagination-next" href="{{ path('homepage', { offset: next}) }}">Next page</a>
                            {% else %}
                                <a class="pagination-next" href="#" disabled>Next page</a>
                            {% endif %}
                        </nav>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Trayectos Próximos</p>
                    <p class="subtitle">Existen {{ disponibles|length }} trayectos</p>
                    <div class="container">
                        {#{ dump(disponibles) }#}
                        {% for trayectos in disponibles %}
                            {#{ dump(trayectos) }#}
                                <nav class="level has-background-warning px-3 py-2">
                                    <div class="level-left">

                                        <div class="level-item">
                                            <div class="control">
                                                <button id="submitButton" onclick='location.href = "{{ path('app_trayecto', {id: trayectos["trayecto_id"]}) }}"' class="button is-link">
                                                    {{ trayectos.fecha.dateTrayecto | format_datetime('short', 'none', locale='fr') }}
                                                </button>
                                                <span class="tag is-danger">
                                                    {{ trayectos.fecha.timeAt | format_time(pattern='HH:mm') }}
                                                </span>
                                                <span class="tag is-danger">
                                                    {{ trayectos.fecha.timeTo | format_time(pattern='HH:mm') }}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="level-item">
                                            <span class="avatars">                                            
                                            {% for users in trayectos.driver %}                                            
                                                <div class="avatar">
                                                {% if users.avatar %}                                                
                                                    <img src="/images/avatars/{{ users.avatar }}" alt="{{ users.email }}">
                                                    <span class="tooltiptext">{{ users.email }}</span>                                                
                                                {% else %}
                                                    <img class="avatar" src="/images/avatars/default.png" alt="{{ users.email }}">
                                                {% endif %}
                                                </div>
                                            {% endfor %}
                                            </span>
                                        </div>

                                    </div>
                                    <div class="level-right">
                                        <!-- -->
                                    </div>
                                </nav>                            
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child notification is-warning">
                    <p class="title">Acciones</p>
                    <p class="subtitle">Seleccione alguna opción</p>
                    <div class="content">
                        <div class="buttons">
                            <button class="button is-link" onclick="location.href='{{ path('app_newTime') }}'">Nuevo Horario</button>
                        </div>                        
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
