{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Nuevo Horario
        </h1>
        <p class="subtitle">
            Añada un nuevo horario a su historial
        </p>
    </div>
</section>

<div class="container is-fluid">
    {{ form_errors(form)}}
    {{ form_start(form) }}
    <div class="field">
        <label class="label">Fecha</label>
        <div class="control has-icons-left">            
            {{ form_widget(form.date_trayecto, {'attr': {'class': 'input is-success'}}) }}
            <span class="icon is-small is-left">
                <i id="emailCheckIconLeft" class="fas fa-calendar-alt"></i>
            </span>
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="field">
                <label class="label">Inicio</label>
                <div class="control has-icons-left">            
                    {{ form_widget(form.time_at, {'attr': {'class': 'input is-success'}}) }}            
                    <span class="icon is-small is-left">
                        <i id="emailCheckIconLeft" class="fas fa-clock"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="field">
                <label class="label">Fin</label>
                <div class="control has-icons-left">            
                    {{ form_widget(form.time_to, {'attr': {'class': 'input is-success'}}) }}            
                    <span class="icon is-small is-left">
                        <i id="emailCheckIconLeft" class="fas fa-clock"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Submit button-->
    <div class="field is-grouped">
        <div class="control">
            {{ form_widget(form.submit, {'attr': {'class': 'button is-link', 'name': 'Enviar'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>                        

{% endblock %}
