{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Trayecto
        </h1>
        <p class="subtitle">
            Viaje Cerrado
        </p>
    </div>
</section>

<div class="container is-fluid">
    <article class="tile is-child notification is-success">
        <p class="title">Opciones</p>
        <p class="subtitle">Elija alguna de las opciones disponibles</p>
        <div class="content">            
            <div class="buttons">
                
                {% set existe = false  %}
                {% for track in otros %}                                        
                    {#{dump(track.driver.id)}#}
                    {% if app.user.id == track.driver.id and track.passenger == false %}
                        {% set existe = true  %}
                    {% endif %}
                {% endfor %}
                {% if estoy %}
                    <button class="button is-danger" onclick="location.href='{{ path('app_delTrayecto', {id: otros[0].id}) }}'">Me borro!!</button>
                    {% if existe %}
                        <button class="button is-warning" onclick="location.href='{{ path('app_confirm_trayecto', {id: otros[0].id}) }}'">Confirmar</button>
                    {% endif %}                    
                {% else %}
                    <button class="button is-link" onclick="location.href='{{ path('app_addTrayecto', {id: otros[0].id}) }}'">Me apunto!!</button
                {% endif %}
            </div>
        </div>
    </article>
</div>

<div class="container is-fluid mt-2">
    <article class="tile is-child notification is-danger">
        <nav class="level px-3 py-2">
            <div class="level-left">
                <div class="level-item">
                    <div class="control">
                    <span class="tag is-large is-link">
                        {{ otros[0].fecha.dateTrayecto | format_datetime('short', 'none', locale='fr') }}                
                    </span>
                    <span class="tag is-warning">
                        {{ otros[0].fecha.timeAt | format_time(pattern='HH:mm') }}
                    </span>
                    <span class="tag is-warning">
                        {{ otros[0].fecha.timeTo | format_time(pattern='HH:mm') }}
                    </span>
                    </div>
                </div>
                
                <div class="level-item">                    
                    <div class="avatars">
                    {% for track in otros %}
                        
                        {% if track.passenger %}
                            <span class="icon has-text-success rounded passenger">
                                <i class="fas fa-user"></i>
                            </span>
                        {% else %}
                            <span class="icon has-text-warning rounded car">
                                <i class="fas fa-car"></i>
                            </span>
                        {% endif %}
                        <div class="avatar">
                            {% if track.driver.avatar %}                            
                                <img src="/images/avatars/{{ track.driver.avatar }}" alt="{{ track.driver.email }}" onclick='location.href = "{{ path('app_user', {id: track.driver.id}) }}"'>
                            {% else %}
                                <img src="/images/avatars/default.png" alt="{{ track.driver.email }}">
                            {% endif %}
                            {% if track.driver.username != '' %}
                                <span class="tooltiptext">{{ track.driver.username }}</span>                                        
                            {% else %}
                                <span class="tooltiptext">{{ track.driver.email }}</span>
                            {% endif %}                            
                        </div>
                    {% endfor %}
                    </div>
                </div>            
            
        </nav>
    </article>
</div>


                            
{% endblock %}
