{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Trayecto
        </h1>
        <p class="subtitle">
            Viaje disponible
        </p>
    </div>
</section>

<div class="container is-fluid">
    <article class="tile is-child notification is-success">
        <p class="title">Opciones</p>
        <p class="subtitle">Elija alguna de las opciones disponibles</p>
        <div class="content">
            {% if estoy %}
                <div class="buttons">
                    <button class="button is-danger" onclick="location.href='{{ path('app_delTrayecto', {id: otros[0].id}) }}'">Me borro!!</button>
                    {% if otros|length > 1 %}
                        <button class="button is-link" onclick="location.href='{{ path('app_pongocoche', {id: otros[0].id}) }}'">Yo conduzco</button>
                    {% endif %}
                </div>
            {% else %}
                <div class="buttons">
                    <button class="button is-link" onclick="location.href='{{ path('app_addTrayecto', {id: otros[0].id}) }}'">Me apunto!!</button>
                </div>
            {% endif %}
        </div>
    </article>
</div>

<div class="container is-fluid mt-2">
    <article class="tile is-child notification is-warning">
        <nav class="level px-3 py-2">
            <div class="level-left">
                <div class="level-item">
                    <div class="control">
                    <span class="tag is-large is-link">
                        {{ otros[0].fecha.dateTrayecto | format_datetime('short', 'none', locale='fr') }}                
                    </span>
                    <span class="tag is-danger">
                        {{ otros[0].fecha.timeAt | format_time(pattern='HH:mm') }}
                    </span>
                    <span class="tag is-danger">
                        {{ otros[0].fecha.timeTo | format_time(pattern='HH:mm') }}
                    </span>
                    </div>
                </div>
                {% if estoy %}                    
                    {% for key, grupos in mayoria %}
                        <div class="level-item">
                            <span class="tag is-link">Con {{ key }} Puntos:</span>
                        </div>
                        <div class="level-item">
                            <div class="avatars">
                            {% for usuario in grupos %}
                                <div class="avatar">
                                    <img src="/images/avatars/{{ usuario.avatar }}" alt="{{ usuario.username }}" onclick='location.href = "{{ path('app_user', {id: usuario.id}) }}"'>
                                    {% if usuario.username != '' %}
                                        <span class="tooltiptext">{{ usuario.username }}</span>                                        
                                    {% else %}
                                        <span class="tooltiptext">{{ usuario.email }}</span>
                                    {% endif %}
                                    
                                </div>                                
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}                                 
                {% else %}
                    <div class="level-item">                    
                        <div class="avatars">
                        {% for track in otros %}                            
                            {% if track.driver.avatar %}
                                <div class="avatar">
                                    <img src="/images/avatars/{{ track.driver.avatar }}" alt="{{ track.driver.email }}" onclick='location.href = "{{ path('app_user', {id: track.driver.id}) }}"'>
                                    {% if track.driver.username != '' %}
                                        <span class="tooltiptext">{{ track.driver.username }}</span>                                        
                                    {% else %}
                                        <span class="tooltiptext">{{ track.driver.email }}</span>
                                    {% endif %}
                                </div>
                            {% else %}
                                <img src="/images/avatars/default.png" alt="{{ track.driver.email }}">
                                {% if track.driver.username != '' %}
                                    <span class="tooltiptext">{{ track.driver.username }}</span>                                        
                                {% else %}
                                    <span class="tooltiptext">{{ track.driver.email }}</span>
                                {% endif %}
                            {% endif %}                        
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
    </article>
</div>


                            
{% endblock %}
