{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icons -->
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="container px-4 mt-5 mb-5">
        <div class="row gx-5">
            {% if app.user %}            
                <div class="container overflow-hidden">
                    <div class="row gx-5">
                        <div class="col mb-1">
                            <div class="p-3 border bg-warning bg-gradient">{{ app.user.userIdentifier }}</div>
                        </div>
                        <div class="col mb-1">
                            <div class="p-3 border text-white bg-secondary bg-gradient">{{ grupo }}</div>
                        </div>
                    </div>
                </div>
                <div class="container-lg">                    
                    <div class="container-sm">
                        <h3>Trayecto Disponible</h3>
                        <div class="container px-4">
                            <div class="row gx-5">
                                {% if datos_trayecto %}
                                    {#{ dump(datos_trayecto) }#}
                                    <div class="col">
                                        <div class="p-3 border bg-light">                                            
                                            <div class="h-100 badge position-relative ">
                                                {{ datos_trayecto.dateTrayecto | format_datetime('short', 'none', locale='fr') }}
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                    {{ datos_trayecto.timeAt | format_time(pattern='HH:mm') }}
                                                </span>
                                                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                                                    {{ datos_trayecto.timeTo | format_time(pattern='HH:mm') }}
                                                </span>
                                            </div>    
                                            <i class="fa fa-user text-success ms-5"></i> <span class="badge bg-success">{{ datos_trayecto.driver.email }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row gx-5">
                                {% for track in otros %}                                    
                                    <div class="col">
                                        <div class="p-3 border bg-light">
                                            <div class="h-100 badge position-relative ">
                                                {{ track.dateTrayecto | format_datetime('short', 'none', locale='fr') }}
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                    {{ track.timeAt | format_time(pattern='HH:mm') }}
                                                </span>
                                                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                                                    {{ track.timeTo | format_time(pattern='HH:mm') }}
                                                </span>
                                            </div>                                            
                                            <i class="fa fa-user text-success ms-5"></i> <span class="badge bg-success">{{ track.driver.email }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>                        
                    </div>                    
                </div><!-- container -->
            {% endif %}
        </div>
    </section>
{% endblock %}
