{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}
{#{ dump(datos_trayecto) }#}
<section class="section">
    <div class="container">
        <h1 class="title">
            Trayecto
        </h1>
        <p class="subtitle">
            Viaje disponible
        </p>
    </div>
</section>

<div class="container is-fluid">
    <article class="tile is-child notification is-warning">
        <span class="tag is-large is-link">
            {{ datos_trayecto.dateTrayecto | format_datetime('short', 'none', locale='fr') }}                
        </span>
        <span class="tag is-danger">
            {{ datos_trayecto.timeAt | format_time(pattern='HH:mm') }}
        </span>
        <span class="tag is-danger">
            {{ datos_trayecto.timeTo | format_time(pattern='HH:mm') }}
        </span>
    </article>
</div>

<div class="container is-fluid mt-2">
    <article class="tile is-child notification is-warning">
        <span class="avatars">
            <img class="avatar" src="/images/avatars/{{ datos_trayecto.driver.avatar }}" alt="{{ datos_trayecto.driver.email }}">                    
            {% for track in otros %}
                {% if track.driver.avatar %}
                    <img class="avatar" src="/images/avatars/{{ track.driver.avatar }}" alt="{{ track.driver.email }}">
                {% else %}
                    <img class="avatar" src="/images/avatars/default.png" alt="{{ track.driver.email }}">
                {% endif %}
            {% endfor %}
        </span>
    </article>
</div>
                            
{% endblock %}
