<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bulma.min.css">
        <link rel="stylesheet" href="/css/avatars.css">
    </head>

    <body class="has-navbar-fixed-top">
        <!-- Bulma-nav -->
        <header class="nav">
        <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="{{ path('homepage') }}">
                    <img src="/images/compartecoche.png" height="64">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarDesplegable">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarDesplegable" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ path('homepage') }}">
                        Inicio
                    </a>
                    
                    <a class="navbar-item" href="{{ path('app_contact') }}" title="Contact">
                        Contacto
                    </a>

                    {% if app.user %}
                        <a class="navbar-item" href="{{ path('app_driver') }}" title="Perfil">Perfil</a></li>
                        <!-- <a class="navbar-item" href="{{ path('app_log') }}" title="Log">Log</a></li> -->
                        <a class="navbar-item" href="{{ path('app_logout') }}" title="Logout">Logout</a></li>
                        {% if 'ROLE_ADMIN' in app.user.getroles()  %}
                            <a class="navbar-item" href="{{ path('admin') }}" title="Admin">Admin</a></li>
                        {% endif %} 
                    {% else %}
                        <a class="navbar-item" href="{{ path('app_login') }}" title="Login">Login</a></li>
                    {% endif %}
<!--
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                        More
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
-->
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        {% if app.user %}
                            <a class="button is-warning" href="{{ path('app_logout') }}">
                                Log out
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{{ path('app_login') }}">
                                Log in
                            </a>
                        {% endif %}    
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        </header>
        <!-- end Bulma-nav -->                

        <!-- message_flash -->        
        {% for label, messages in app.flashes %}
            <div class="container-fluid">
            {% for message in messages %}
                <div class="modal is-active " id="modal1">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box has-background-{{label}}">
                            <p><strong>Atención</strong></p>
                            <p>{{ message }}<p>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <!--
                <div class="notification is-{{label}}">
                    <button class="delete"></button>            
                </div>
                -->
            {% endfor %}
            </div>
        {% endfor %} <!-- end message_flash -->

        {% block body %}{% endblock %}
        
        <footer class="footer is-link">
            <div class="content has-text-centered">
                <span>Copyright &copy; 2022</span> 
                <span>Designed And Developed By: <a href="https://twitter.com/DavidBermudezTW/" target="_blank">@DavidBermudezTW</a></span>
            </div>
        </footer> <!-- end s-footer -->
                
        <!-- script
        ================================================== -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
        <script src="/js/main.js" async defer></script>
        <script>
            // Variables
            let boton_nav = document.querySelector('.navbar-burger');
            let nav_menu = document.querySelector('.navbar-menu');

            // Eventos
            boton_nav.addEventListener('click', function() {
                nav_menu.classList.toggle('is-active');
            });

            // Closed notifications flash
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                    });
                });
            });

            document.addEventListener('DOMContentLoaded', () => {
                console.log("Modal");
                // Functions to open and close a modal
                function openModal($el) {
                    $el.classList.add('is-active');
                }

                function closeModal($el) {
                    $el.classList.remove('is-active');
                }

                function closeAllModals() {
                    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                        closeModal($modal);
                    });
                }

                // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);

                $trigger.addEventListener('click', () => {
                openModal($target);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                const e = event || window.event;

                if (e.keyCode === 27) { // Escape key
                closeAllModals();
                }
            });
            });
            // Full Screen
            var body = document.documentElement;
            if (body.requestFullscreen) {
                body.requestFullscreen();
            } else if (body.webkitrequestFullscreen) {
                body.webkitrequestFullscreen();
            } else if (body.mozrequestFullscreen) {
                body.mozrequestFullscreen();
            } else if (body.msrequestFullscreen) {
                body.msrequestFullscreen();
            }
        </script>
        {% block javascripts %}{% endblock %}        
    </body>
</html>
